# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Arithematic Operators

In [3]:
import pandas as pd

table=pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
a:int =7
b:int=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

10
4
21
2.3333333333333335
1

In [8]:
# Power
print(2**3)
print(2**2)

8
4

In [9]:
# Simple Divisions
print(14 / 3)
# Floor Division
print(14 // 3)

4.666666666666667
4

# Assignment Operators

In [10]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [13]:
# =
a:int=7
print(a)

# +=
a+=2 # a=a+2
print(a)
# Same as remaining operators

# 8 to 12 are Ternary Operators which are not commenly use

7
9

# Comparison Operators

In [14]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [18]:
# ==
a:int=7
b:int=7
print(a==b)

a=2
# !=
print(a!=b)

a=10
# >
print(a>b)

a=1
# <
print(a<b)

a=7
# >=
print(a>=b)
# <=
print(a<=b)

True
True
True
True
True
True

# Python Logical Operators

In [19]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [20]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10


print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

True
True
False

# Python Identity Operators

In [21]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [30]:
# Memory level comparison
x:str='abc'
y:str='abc'
print(id(x))
print(id(y))
print(x is y)

x='ac'
print(x is not y)

140707374633224
140707374633224
True
True

# Membership Operators

In [26]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [29]:
# Value Level Comparison
name:list[str]=['Shawaal','Nancy','Kill Joy','Raze']
uInput:str=input("Enter Name : ")
print(uInput in name)

True

# Bitwise Operators

In [31]:
table[6]

,Operator,Name,Description,Example,Try it
0,&,AND,Sets each bit to 1 if both bits are 1,x & y,Try it »
1,|,OR,Sets each bit to 1 if one of two bits is 1,x | y,Try it »
2,^,XOR,Sets each bit to 1 if only one of two bits is 1,x ^ y,Try it »
3,~,NOT,Inverts all the bits,~x,Try it »
4,<<,Zero fill left shift,Shift left by pushing zeros in from the right ...,x << 2,Try it »
5,>>,Signed right shift,Shift right by pushing copies of the leftmost ...,x >> 2,Try it »

Not Commenly use

# Operator Precedence

In [32]:
table[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg" />

# PEMDAS Rule
* P -> Paranthesis
* E -> Exponent
* M -> Multiplication
* D -> Division
* A -> Addition
* S -> Subtraction

In [34]:
print(3 + 2 - 2 * 4 / 2 + 2)
# 3 + 2 - 8 / 2 + 2
# 3 + 2 - 4 + 2
# 5 - 4 + 2
# 1 + 2
# 3

3.0

In [35]:
data=('Shawaal',22,3.0)
print(*data)

Shawaal 22 3.0